<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app"></div>

    <template id="my-app">
      <!-- 遍历数组 -->
      <div v-for="(item,index) in list" :key="index">{{item}}</div>
      <!-- 遍历对象 -->
      <div v-for="(value,key,index) in obj" :key="index">
        {{value}}:{{key}}——{{index}}
      </div>
      <!-- 遍历数字 -->
      <div v-for="(num,index) in 10" :key="index">{{num}}——{{index}}</div>
    </template>

    <script src="../js/vue.js"></script>
    <script>
      const App = {
        template: '#my-app',
        data() {
          return {
            list: ['1', '2', '3'],
            obj: {
              a: 1,
              b: 2,
              c: 3,
            },
          };
        },
        methods: {},
      };

      Vue.createApp(App).mount('#app');
    </script>
  </body>
</html>
