<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app"></div>

    <template id="my-app">
      <input type="text" v-model="data" />
      {{data}}
      <!-- 多选 -->
      <label for="checkbox1">
        <input id="checkbox1" type="checkbox" v-model="checkbox" value="1" />1
      </label>
      <label for="checkbox2">
        <input id="checkbox2" type="checkbox" v-model="checkbox" value="2" />2
      </label>
      <label for="checkbox3">
        <input id="checkbox3" type="checkbox" v-model="checkbox" value="3" />3
      </label>
      <h1>checkbox：{{checkbox}}</h1>
      <!-- 单选 -->
      <label for="radio1">
        <input id="radio1" type="radio" v-model="radio" value="1" />1
      </label>
      <label for="radio2">
        <input id="radio2" type="radio" v-model="radio" value="2" />2
      </label>
      <h1>radio：{{radio}}</h1>
      <!-- 下拉 -->
      <select v-model="select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <h1>select：{{select}}</h1>
    </template>

    <script src="../js/vue.js"></script>
    <script>
      const App = {
        template: '#my-app',
        data() {
          return {
            data: '我是默认的数据',
            checkbox: ['1'],
            radio: '',
            select: '1',
          };
        },
        methods: {},
      };

      Vue.createApp(App).mount('#app');
    </script>
  </body>
</html>
